# Starting Point: #155 
# End Point: #1877

In [11]:
#!pip install geopandas
import geopandas as gpd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import imageio
#!pip install folium
import folium
from folium.plugins import MarkerCluster

In [3]:
safe = 'crimes-in-boston/boston_safe_lat&long_filtered.csv'
safe = pd.read_csv(safe)
df = pd.DataFrame(safe)
df = df[['lat','long']]
df.head()

         lat       long
0  42.306212 -71.136502
1  42.309115 -71.134452
2  42.311784 -71.132797
3  42.313186 -71.131863
4  42.314572 -71.130608

In [6]:
path = ['155', '1838', '1815', '1857', '90', '1694', '1737', '1877']

In [9]:
path=[int(i) for i in path]
path

[155, 1838, 1815, 1857, 90, 1694, 1737, 1877]

In [14]:
lat1=[df.iloc[i]['lat'] for i in path]
long1=[df.iloc[i]['long'] for i in path]
lat1

[42.36510003481729,
 42.38119559542926,
 42.38156820508476,
 42.38129881857445,
 42.36825402233457,
 42.38259894390112,
 42.38211387711317,
 42.3816500152046]

In [15]:
long1

[-71.05019670645878,
 -70.99676417628815,
 -70.99594063547076,
 -70.99752803646034,
 -71.05172552488584,
 -70.99470283272169,
 -70.99522341266871,
 -70.99858640201913]

In [16]:
df.iloc[417]

lat     42.368864
long   -71.056899
Name: 417, dtype: float64

In [17]:
df.iloc[1156]

lat     42.387459
long   -70.990256
Name: 1156, dtype: float64